* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* left: 40%; */
  top: 40%;
  text-align: center;
}
.btn {
  margin: 0 20px;
  padding: 0 20%;
}
